venv
build
target
__pycache__
.vscode
.pio
*.csv
*.png
.ipynb_checkpoints
plastic-identifier/scripts/data/base_dataset
plastic-identifier/scripts/data/dataset2
plastic-identifier/scripts/temp

# Keep specific plots
!plastic-identifier/scripts/figures/bv1_pla_v_abs_white.png
!plastic-identifier/scripts/figures/bv1_plastics_white.png
!plastic-identifier/scripts/figures/bv1_pla_v_abs_colour_ranges.png

# Keep specific data
!plastic-identifier/scripts/data/dataset1/**/*.csv

# Keep specific model
