venv
build
target
__pycache__
.vscode
.pio
*.csv
*.png
!POSTER.png
.ipynb_checkpoints
scripts/data/base_dataset
scripts/temp

# Keep specific plots
!scripts/figures/bv1_pla_v_abs_white.png
!scripts/figures/bv1_plastics_white.png
!scripts/figures/bv1_pla_v_abs_colour_ranges.png

# Keep specific data
!scripts/data/dataset1/**/*.csv
!scripts/data/dataset2/**/*.csv
!scripts/data/dataset3/**/*.csv
!scripts/data/dataset4/**/*.csv

# Keep specific model
