venv
__pycache__
.vscode
.pio
*.csv
*.png
.ipynb_checkpoints
plastic-identifier/scripts/data
plastic-identifier/scripts/models

# Keep specific plots
!plastic-identifier/scripts/figures/bv1_pla_v_abs_white.png
!plastic-identifier/scripts/figures/bv1_plastics_white.png
!plastic-identifier/scripts/figures/bv1_pla_v_abs_colour_ranges.png

# Keep specific data

# Keep specific model
